*{
    margin: 10px;
}

body {
    background-color: rgb(83, 32, 130);
    margin: 0;
    font-size: larger;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body::-webkit-scrollbar{
    display: none;
}

#title {
    font-family: Luminari, fantasy;
    font-stretch: extra-expanded;
    color: rgb(237, 235, 235);
    text-align: center;
    text-shadow: #FC0 1px 0 10px;
    letter-spacing: .2em;
    padding-bottom: 10px;
}

p, h5{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 25px;
    color: white;
    letter-spacing: .1em;
}

.flex-container {
    justify-content: center;
    align-items: center;
    max-width: 550px;
}

.flex-container2 {
    justify-content: center;
    align-items: center;
    max-width: 500px;
    max-height:fit-content;
}

@media screen and (max-width: 700px){
    body {
        padding-left: 20%;
    }
}