body {
    background-color: rgb(83, 32, 130);
    overflow: hidden;
    margin: 0;
    font-size: larger;
}

#title {
    font-family: Luminari, fantasy;
    font-stretch: extra-expanded;
    color: rgb(237, 235, 235);
    text-align: center;
    text-shadow: #FC0 1px 0 10px;
    letter-spacing: .2em;
    padding-bottom: 10px;
}

p, h5{
    padding: 25px;
    color: white;
    letter-spacing: .1em;
}

.flex-container {
    align-items: center;
    max-width: 600px;
    margin: 30px auto;
}

.flex-container2 {
    align-items: center;
    max-width: 500px;
    margin: 50px auto;
}
