<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link
      rel="stylesheet"
      href="../static/about.css"
    />
  </head>
  <body>
    <div class="flex-container">
      <img src="../static/bubblegun_penguin.gif">
    </div>
    <h1 id="title">ABOUT THE GUN STORE</h1>
    
    <p>You may ask, "what is so special about THE GUN STORE"??
      Well here at THE GUN STORE, our core values are stellar customer service, quality guns, and a faster loadout of said guns.
       At THE GUN STORE, we're making shopping fun and non-political! 
      Buy a "gun" from our extensive digital arsenal, and have a laugh.
    </p>
      
      
    <h5><em>Disclaimer: THE GUN STORE promotes humor and satire. We don't endorse real violence, we're just having a great time.</em></h5>
      
    <div class="flex-container2">
      <img src="../static/irsrobbery.gif">
    </div>
    <img src="../static/reviews1.png">
    <img src="../static/reviews2.png">
    <p><strong>Brought to you by the creative minds of Lianna Poblete, Athena Leong, and Harry Minsky.</strong></p>
    
    <script src="https://cdn.jsdelivr.net/gh/studio-freight/lenis@1.0.27/bundled/lenis.min.js"></script> 
    <script>
      const lenis = new Lenis()

lenis.on('scroll', (e) => {
  console.log(e)
})

function raf(time) {
  lenis.raf(time)
  requestAnimationFrame(raf)
}

requestAnimationFrame(raf)
    </script>    
  </body>
</html>