<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Display Gun</title>
    <link rel="stylesheet" href="../static/displayGun.css" />
  </head>
  <body>
    <header>
      <h1>THE GUN STORE</h1>
    </header>

    <div id="gun-container">
      <img
        id="gun-image"
        src="{{ url_for('static', filename='upload/' + gun.image) }}"
      />
    </div>

    <div id="name-container">
      <h4 id="name">{{ gun.name }}</h4>
      <p id="price"><strong>Price ($): </strong> ${{ gun.price }}</p>

    </div>

    <div id="add-to-cart">
      <p id="add-cart-text">Add to Cart</p>
    </div>

    <div id="description-container">
      <p id="description">
        <strong>Description: </strong> {{ gun.description }}
      </p>

    </div>

    <img id="cart" src="../static/shoppingcart.png" />

    <div id="cart-total-container">
      <p id="cart-total">0</p>
    </div>

    <div id="edit-delete-container">
      <a href="{{ url_for('edit_gun', gun_id=gun._id) }}"
        ><p id="edit-button">Edit Gun</p></a
      >
      <a href="{{ url_for('delete_gun', gun_id=gun._id) }}"
        ><p id="delete-button">Delete Gun</p></a
      >
    </div>
    <script src="https://cdn.jsdelivr.net/gh/studio-freight/lenis@1.0.27/bundled/lenis.min.js"></script>
    <script>
      const lenis = new Lenis();

      lenis.on("scroll", (e) => {
        console.log(e);
      });

      function raf(time) {
        lenis.raf(time);
        requestAnimationFrame(raf);
      }

      requestAnimationFrame(raf);
    </script>
    <script>
      addCartText.innerHTML += " - " + gunPrice.innerText;

      addCart.addEventListener("pointerdown", updateCart);

      let numObjectsInCart = 0;

      function updateCart() {
        console.log("clicked");
        numObjectsInCart++;
        cartTotal.innerHTML = numObjectsInCart;
      }

      editButton.addEventListener("pointerdown", function () {
        localStorage.setItem("gunName", gunName.innerHTML);
      });


    </script>
  </body>
</html>
