<!DOCTYPE html>
<html>
  <head>
    <title>Gun Store</title>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='home.css') }}"
    />
  </head>
  <body id="content">
    <audio id="music" src="{{url_for('static', filename='music.mp3') }}"></audio>
    <h1> GUN STORE</h1>
    <marquee><h2>WELCOME TO OUR PERFECTLY LEGAL GUN STORE</h2></marquee>
    <img src="{{ url_for('static', filename='super_spy_gun.gif') }}">
    <img id="bouncing-gif" src="{{url_for('static', filename='dollarspindownd.gif') }}" alt="Bouncing GIF">
    <img id="dj-cool" src="{{url_for('static', filename='dj_coolllll.gif') }}" alt="Bouncing GIF">
      <p id="mistacoolswords">Click DJ Cool To play some shopping tunes</p>
      <img class="editbutton" src="{{url_for('static', filename='gallery.gif') }}" onclick="" alt="editbutton">
      <a href="{{ url_for('gallery') }}"><p class="addgun">Gun Gallery</p></a>
      <img class="editbutton" src="{{url_for('static', filename='search.gif') }}" onclick="" alt="editbutton">
      <a href="{{ url_for('search') }}"><p class="addgun">Search Guns</p></a>
      <img class="editbutton" src="{{url_for('static', filename='aboutbutton.gif') }}" onclick="" alt="editbutton">
      <a href="{{ url_for('about') }}"><p class="addgun">ABOUT</p></a>
      <script
      src="{{url_for('static', filename='main.js') }}"
    ></script>
    <script src="https://cdn.jsdelivr.net/gh/studio-freight/lenis@1.0.27/bundled/lenis.min.js"></script> 
    <script>
      const lenis = new Lenis()

lenis.on('scroll', (e) => {
  console.log(e)
})

function raf(time) {
  lenis.raf(time)
  requestAnimationFrame(raf)
}

requestAnimationFrame(raf)
    </script>
  </body>
</html>