<!DOCTYPE html>
<html>
  <head>
    <title>Gun Store</title>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='home.css') }}"
    />
  </head>
  <body>

    <audio id="music" src="{{url_for('static', filename='music.mp3') }}"></audio>
    <h1> GUN STORE</h1>
    <marquee><h2>WELCOME TO OUR PERFECTLY LEGAL GUN STORE</h2></marquee>
    <img src="{{ url_for('static', filename='super_spy_gun.gif') }}">
    <img id="bouncing-gif" src="{{url_for('static', filename='dollarspindownd.gif') }}" alt="Bouncing GIF">
    <img id="dj-cool" src="{{url_for('static', filename='dj_coolllll.gif') }}" alt="Bouncing GIF">
      <p id="mistacoolswords">Click DJ Cool To play some shopping tunes</p>
      <img class="editbutton" src="{{url_for('static', filename='addbutton.png') }}" onclick="" alt="editbutton">
      <a href="{{ url_for('add_gun') }}"><p class="addgun">ADD A GUN</p></a>
      <img class="editbutton" src="{{url_for('static', filename='editbutton.gif') }}" onclick="" alt="editbutton">
      <a href="{{ url_for('edit_gun') }}"><p class="addgun">EDIT A GUN</p></a>
      <img class="editbutton" src="{{url_for('static', filename='displaybutton.gif') }}" onclick="" alt="editbutton">
      <a href="{{ url_for('display_gun') }}"><p class="addgun">DISPLAY A GUN</p></a>
      <img class="editbutton" src="{{url_for('static', filename='deletebutton.gif') }}" onclick="" alt="editbutton">
      <a href="{{ url_for('delete_gun') }}"><p class="addgun">DELETE A GUN</p></a>
      <img class="editbutton" src="{{url_for('static', filename='aboutbutton.gif') }}" onclick="" alt="editbutton">
      <a href="{{ url_for('about') }}"><p class="addgun">ABOUT</p></a>
   
      <script
      src="{{url_for('static', filename='main.js') }}"
    ></script>
  </body>
</html>