<!DOCTYPE html>
<html>
  <head>
    <title>Gun Store</title>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='search.css') }}"
    />
  </head>
  <body>
    <h1 id="title">Search</h1>
    <form action="/search" method="POST">
      <input
        type="text"
        name="query"
        placeholder="Search by name or price..."
      />
      <input type="submit" value="Search" />
    </form>

    {% for gun in guns %}
    <div class="gunBox">
      <a href="{{ url_for('display_gun', gun_id=gun._id) }}">
        <img
          src="{{url_for('static', filename='upload/' + gun.image)}}"
          alt="{{ gun.name }}"
          style="width: 100px; height: 100px"
        />
        <p class="gunName"> {{ gun.name }}</p>
      </a>
      <p class="gunName">{{ gun.description }}</p>
      <p class="gunName">${{ gun.price }}</p>
    </div>
    {% endfor %}
    <script src="{{url_for('static', filename='search.js') }}"></script>
  </body>
</html>
